@media screen and (min-width: 768px) {
  .sidebar-container {
    border-right: 2px solid $custom-concrete;
    width: 80px;

    &.open {
      width: 275px;
    }
  }
  .position-md-relative {
    position: relative !important;
  }
  .left-md-0 {
    left: 0;
  }
}

@media screen and (min-width:376px){
  
}
